//  Links and Buttons
//  -----------------

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.75em;
  font-weight: 300;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.006666666667em;

  width: 8.3333333em;
  padding: 0.8333333333em 0;

  cursor: pointer;

  border-radius: 0.25em;

  background-color: #6900FF;

  // TODO: Change the naming
  &.secondary {
    background-color: #969696;

    &:disabled { background-color: #BCBCBC; }
  }

  &:disabled { background-color: #8552CE; cursor: default; }

  &:disabled, &:disabled .contents { color: #DEDEDE; }
}

.action-confirmation {
  font-size: 0.75em;
  color: red;

  .prompt { margin-right: 0.35em; }
}

.error {
  font-size: 0.75em;
  color: red;
}

.link-btn {
  font-family: $font-sans;
  font-size: 0.75em;
  color: #888;

  &:hover { text-decoration: underline; }
}

.link {
  &:hover { text-decoration: underline; }
}

//  Form Elements
//  -------------

label.label {
  font-size: 0.835em;
  font-weight: 300;
  color: #515151;

  margin-bottom: 5px;
}

.input {
  border: 1px solid #BCBCBC;
  border-radius: .25em;

  font-size: 12px;
  font-weight: 400;
  color: #515151;

  padding: 7px 15px;

  &::placeholder {
    color: #B5B5B5;

    // TODO: This should be normalized
    font-family: $font-sans;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  &:disabled { background-color: #E9ECEF; }
}

.textarea {
  border: 1px solid #BCBCBC;
  border-radius: .25em;
  height: 100px;

  width: 100%;
  resize: vertical;

  font-size: 13px;
  font-weight: 400;
  color: #515151;

  padding: 8px 12px;

  &::placeholder {
    color: #B5B5B5;

    font-family: $font-sans;
    font-weight: 300;
    letter-spacing: 0.7px;
  }

  &:disabled { background-color: #E9ECEF; }
}

.select {
  display: inline-block;

  max-width: 100%;
  height: 30px;

  border: 1px solid #BCBCBC;
  border-radius: .25em;
  padding: .375em 1.75em .375em .75em;

  font-size: .8125em;

  color: inherit;
  appearance: none;

  // Hide the default arrow in IE10 and IE11
  &::-ms-expand { display: none; }

  background-color: #FFF;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right .75em center;
  background-size: 8px 10px;

  &:disabled { background-color: #E9ECEF; }
}

// NOTE: We're including the body element in the selector to increase
// its specificity and thus its priority
body .tag-input {

  > div.ng2-tag-input {
    padding: 0;
    margin: 0;
    border-bottom: 0 !important;
    min-height: auto;
  }

  .ng2-tags-container {
    border: 1px solid #BCBCBC;
    border-radius: 5px;

    .tag-input-inner {
      border-radius: 5px;

      font-family: $font-sans;
      font-size: 12px;
      font-weight: 400;
      color: #515151;

      padding: 8px 12px;
      height: auto;

      &::placeholder {
        font-family: $font-sans;
        font-weight: 300;
        letter-spacing: 0.7px;
        color: #B5B5B5;
      }
    }

    tag {
      border-radius: 5px !important;

      height: auto;
      line-height: 1.5;
      padding: 4.5px 15px;
      margin: 0;

      font-family: $font-sans;
      font-size: 12px;
      font-weight: 400;
      color: #515151;

      .tag-wrapper {
        align-items: center;

        delete-icon {
          display: flex;
          align-items: center;
          justify-content: center;

          width: auto;
          height: auto;

          margin-left: 5px;

          &:hover { transform: none; }

          svg {
            display: flex;

            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }

  .progress-bar {
    height: 1px;
    width: calc(100% - 10px);
    margin-left: 5px;

    &::before { height: 1px; }
  }
}

body tag-input-dropdown {

  .ng2-dropdown-menu {

    .ng2-menu-item {
      display: flex;
      align-items: center;

      font-family: $font-sans;
      font-size: 12px;

      height: 25px;
      line-height: 25px;
    }

  }
}

//  Spinners
//  --------

.ball-spinner {
  position: relative;

  font-size: 20px;
  text-indent: -9999em;

  width: 1em;
  height: 1em;

  color: #FFF;

  border-radius: 100%;

  transform: translateZ(0);
  animation: ballSpinner 1.3s infinite linear;

  &.dark { color: #515151; }
  &.colored { color: #6900FF; }
}

.bar-spinner {
  position: relative;

  font-size: 11px;
  text-indent: -9999em;

  color: #FFF;

  transform: translateZ(0);
  animation-delay: -0.16s !important;

  &,
  &::after,
  &::before {
    width: 1em;
    height: 4em;

    background: #FFF;
    animation: barSpinner 1s infinite ease-in-out;
  }

  &::after,
  &::before {
    position: absolute;
    top: 0;
    content: "";
  }

  &::after { left: 1.5em; }
  &::before { left: -1.5em; animation-delay: -0.32s; }

  &.dark {
    color: #515151;
    &, &::after, &::before { background: #515151; }
  }

  &.colored {
    color: #6900FF;
    &, &::after, &::before { background: #6900FF; }
  }
}
