$light: (
  primary: (
    base: #000
  ),

  secondary: (
    base: #000
  ),

  foreground: (
    base: #000
  ),

  background: (
    base: #F2F2F2,
    dark: #E9E9E9
  ),
);

$applicationThemes: (
  'light': $light
);
