<div class="comments-controls">
  <div class="comments-meta">
    <span class="meta">{{ numComments }} comments</span>
  </div>

  <div class="comments-modes">
    <div class="comments-mode" [class.active]="sortMode === 'confidence'">
      <button class="link-btn" (click)="changeSortMode('confidence')">
        best
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'top'">
      <button class="link-btn" (click)="changeSortMode('top')">
        top
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'controversial'">
      <button class="link-btn" (click)="changeSortMode('controversial')">
        controversial
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'old'">
      <button class="link-btn" (click)="changeSortMode('old')">
        old
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'random'">
      <button class="link-btn" (click)="changeSortMode('random')">
        random
      </button>
    </div>
    <div class="comments-mode" [class.active]="sortMode === 'qa'">
      <button class="link-btn" (click)="changeSortMode('qa')">
        Q&amp;A
      </button>
    </div>
  </div>
</div>

<div class="comments-feed">
  <ul class="comments-feed-entries">
    <li class="comments-feed-entry" *ngFor="let comment of comments">
      <comment-card
        [comment]="comment.data"
        [isParent]="true"
        (onCommentAction)="emitCommentAction($event)">
      </comment-card>
    </li>
  </ul>

  <div class="comments-morechildren" *ngIf="nextComments" (click)="loadMore()">
    <span class="label">Load {{ nextComments.count }} more comments</span>
  </div>
</div>
