//  Variables
//  ---------


//  Object Structure
//  ----------------

:host {
  margin: 35px 0 0;
  flex-grow: 1;

  .comments-controls {
    display: flex;
    justify-content: space-between;

    max-width: 1200px;
    min-width: 500px;

    padding: 0 5px;
    margin: 0 5px 20px 5px;
    border-bottom: 1px solid #E3E5E6;

    .comments-meta .meta {
      font-size: 0.75em;
      text-transform: uppercase;
      color: #98ABBA;
    }

    .comments-modes {
      display: flex;

      .comments-mode {
        margin-left: 20px;
        padding-bottom: 5px;

        .link-btn {
          text-transform: uppercase;
          color: #98ABBA;

          &:hover { text-decoration: none; }
        }

        &.active .link-btn { color: #6E7C87; }
      }
    }
  }

  .comments-feed-entries {
    margin:  0;
    padding: 0;
  }

  .comments-feed-entry {
    margin:  0px 0px 9px;
    padding: 0;

    list-style-type: none;
  }

  .comments-morechildren {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    min-width: 500px;
    max-width: 1200px;

    margin-top: 14px;
    margin-bottom: 25px;

    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 4px 5px -1px rgba(37, 37, 37, 0.13);

    cursor: pointer;

    .label {
      text-transform: uppercase;
      font-size: 0.75em;
      color: #98ABBA;
    }
  }
}
