<div *ngIf="showOverlay" class="overlay-container">
  <button class="btn-close" (click)="closeOverlay()">
    <i class="icn-close"></i>
  </button>

  <div class="overlay-contents">
    <post-preview
      *ngIf="overlayData.action === 'expand'"
      [post]="overlayData.thing"
      (onPostAction)="openOverlay($event)">
    </post-preview>

    <report-card
      *ngIf="overlayData.action === 'report'"
      [thing]="overlayData.thing"
      (onCancel)="closeOverlay()">
    </report-card>

    <share-post-card
      *ngIf="overlayData.action === 'share'"
      [post]="overlayData.thing">
    </share-post-card>
  </div>
</div>

<div class="feed" style="height: 100%"
  infiniteScroll
  debounce
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="1200"
  (scrolled)="onScroll()">

  <ul class="feed-entries" *ngIf="postFeed.length > 0">
    <li class="feed-entry" *ngFor="let post of postFeed">
      <post-feed-card
        [post]="post.data"
        [displaySubreddit]="feedService.displaySub"
        (onPostAction)="openOverlay($event)">
      </post-feed-card>
    </li>
  </ul>

  <ul class="feed-entries" *ngIf="subFeed.length > 0">
    <ng-container *ngFor="let sub of subFeed">
      <li class="feed-entry" *ngIf="sub.data.subreddit_type !== 'private'">
        <sub-info-feed-card
          [subInfo]="sub.data">
        </sub-info-feed-card>
      </li>
    </ng-container>
  </ul>
</div>
