@import '~styles/helpers/module';

//  Variables
//  ---------


//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  .feed {
    flex-grow: 1;

    .feed-entries {
      margin: 0;
      padding: 0;
    }

    .feed-entry {
      margin: 0px 0px 15px;

      list-style-type: none;
      padding: 0;
    }
  }
}
