<div #barContainer
  [ngClass]="['progress-bar-container', type.toLowerCase()]">

<svg *ngIf="type.toLowerCase() === 'circle'"
  viewBox="0 0 0 0" class="circle-shadow">
  
  <defs>
    <filter id="dropshadow" height="130%" width="130%" #circleShadow>
      <feGaussianBlur in="SourceAlpha" stdDeviation="3"></feGaussianBlur>
      <feOffset dx="2" dy="2" result="offsetblur"></feOffset>
      <feComponentTransfer>
        <feFuncA type="linear" slope="0.4"></feFuncA>
      </feComponentTransfer>
      <feMerge>
        <feMergeNode></feMergeNode>
        <feMergeNode in="SourceGraphic"></feMergeNode>
      </feMerge>
    </filter>
  </defs>
</svg>
</div>
