//  Variables
//  ---------


//  Object Structure
//  ----------------

:host {
  .progress-bar-container {
    position: relative;

    &.circle {
      width: 180px;
      height: 180px;

      // Doesn't work for now, class style is ignored.
      .text {
        font-family: Lato;
        font-size: 2rem;
        color: #6900FF;
        text-shadow: rgba(0, 0, 0, 0.35) 4px 3px 9px;

        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        padding: 0px;
        margin: 0px;
      }

      .circle-shadow {
        display: block;
        width: 0px;
        height: 0px;
      }
    }
  }
}
