@import '~styles/helpers/module';

//  Variables
//  ---------

$app-topbar-height: 45px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  justify-content: space-between;

  position: fixed;
  z-index: 130;
  top: 0px;
  left: 0px;

  width: 100%;
  height: $app-topbar-height;

  background-color: #FFF;

  box-shadow: 0px 2px 12px -3px rgba(37, 37, 37, 0.25);

  .topbar-controls {
    z-index: 20;

    display: flex;

    .sidebar-trigger {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0px 15px;

      @include icon {
        display: flex;
        font-size: 1.13em;
      }
    }

    .app-logo {
      display: flex;
      align-items: center;
      justify-content: center;

      .app-logo-link {
        display: flex;
        align-items: center;
      }

      .logo-img {
        background-image: url("~static/img/app_logo.svg");
        background-position: center;
        background-size: 24px 20px;
        background-repeat: no-repeat;

        width: 24px;
        height: 20px;

        margin-right: 6px;
      }

      @include icon {
        display: flex;
        font-size: 2.9em;
      }
    }
  }

  .page-label {
    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow: 1;

    .label {
      font-weight:    500;
      font-size:      0.9375em;
      letter-spacing: 1px;
      line-height:    $app-topbar-height;
    }
  }

  .user-links {
    z-index: 20;

    display: flex;
    align-items: center;

    .links { display: flex; }

    .login-link {
      margin-right: 25px;

      .link-btn {
        text-transform: uppercase;
        font-weight:    600;
        font-size:      0.6875em;
        line-height:    $app-topbar-height;
        color:          #6800FF;

        &:hover { text-decoration: none; }
      }
    }

    .user-meta{
      margin-right: 25px;

      p {
        font-weight: 600;
        font-size:   0.6875em;
        line-height: $app-topbar-height;
        color:       #6800FF;

        margin: 0;
      }
    }

  }
}
