<div class="topbar-controls">
  <div class="sidebar-trigger">
    <button class="btn-trigger" (click)="toggleSidebar()">
      <i class="icn-menu"></i>
    </button>
  </div>
  <div class="app-logo">
    <a class="app-logo-link" routerLink="/">
      <span class="logo-img"></span>
      <i class="icn-reddit"></i>
    </a>
  </div>
</div>

<div class="page-label">
  <span class="label">{{ pageLabel }}</span>
</div>

<div class="user-links">
  <div *ngIf="!user.isAuthenticated()" class="links">
    <div class="login-link">
      <button class="link-btn" (click)="login()">
        Log in
      </button>
    </div>
    <div class="login-link">
      <a  class="link-btn" href="https://www.reddit.com/login">Sign up</a>
    </div>
  </div>

  <div *ngIf="user.isAuthenticated()" class="links">
    <div class="user-meta">
      <p>Welcome, {{ user.userData.name }}</p>
    </div>
    <div class="login-link">
      <button class="link-btn" (click)="logout()">
        Log out
      </button>
    </div>
  </div>
</div>
