<div class="post-feed-filters-layout">
  <div class="post-feed-filters">
    <div class="post-feed-filter" *ngIf="subOptions">
      <select-box
        [(value)]="feedSource"
        [options]="subOptions">
      </select-box>
    </div>

    <div class="post-feed-filter" *ngIf="!searchMode">
      <select-box
        [(value)]="sortMode"
        [options]="
        [ { label: 'hot', value: 'hot', selected: true }
        , { label: 'top', value: 'top' }
        , { label: 'new', value: 'new' }
        , { label: 'rising', value: 'rising' }
        , { label: 'controversial', value: 'controversial' }
        ]">
      </select-box>
    </div>

    <div class="post-feed-filter" *ngIf="searchMode">
      <select-box
        [(value)]="sortMode"
        [options]="
        [ { label: 'relevance', value: 'relevance', selected: true }
        , { label: 'top', value: 'top' }
        , { label: 'new', value: 'new' }
        , { label: 'comments', value: 'comments' }
        ]">
      </select-box>
    </div>
  </div>
</div>
