//  Variables
//  ---------

//  Object Structure
//  ----------------

:host {
  position: relative;

  flex-shrink: 0;
  height: 35px;
  margin: 30px 0px 20px 0px;

  .post-feed-filters-layout {
    position: absolute;
  }

  .post-feed-filters {
    display: flex;

    .post-feed-filter {
      margin: 0px 13px 0px 0px;
    }
  }

}
