<div class="post-feed-filters-layout">
  <div class="post-feed-filters" *ngIf="!searchMode">
    <div class="post-feed-filter">
      <select-box
        [(value)]="feedSource"
        [options]="mapSources()">
      </select-box>
    </div>

    <div class="post-feed-filter">
      <select-box
        [(value)]="sortMode"
        [options]="
        [ { label: 'hot', value: 'hot', selected: true }
        , { label: 'top', value: 'top' }
        , { label: 'new', value: 'new' }
        , { label: 'rising', value: 'rising' }
        , { label: 'controversial', value: 'controversial' }
        ]">
      </select-box>
    </div>
  </div>

  <div class="post-feed-filters" *ngIf="searchMode">
    <div class="post-feed-filter">
      <select-box
        [(value)]="feedSource"
        [options]="
        [ { label: 'posts', value: 'post:', selected: true }
        , { label: 'subreddit', value: 'sr:' }
        ]">
      </select-box>
    </div>

    <div class="post-feed-filter">
      <select-box
        [(value)]="sortMode"
        [options]="
        [ { label: 'relevance', value: 'relevance', selected: true }
        , { label: 'top', value: 'top' }
        , { label: 'new', value: 'new' }
        , { label: 'comments', value: 'comments' }
        ]">
      </select-box>
    </div>
  </div>
</div>
