<div class="full-size align-start inner container has-gutters background-base">
  <div class="flex-column columns">
    <post-feed-filters
      [(sortMode)]="sortMode"
      [(feedSource)]="feedSource"
      [sources]="availableSources"
      [searchMode]="searchQuery.trim()">
    </post-feed-filters>

    <post-feed>
    </post-feed>
  </div>
  <user-actions
    class="columns show-for-large"
    [(searchQuery)]="searchQuery">
  </user-actions>
</div>
