<div *ngIf="showOverlay" class="overlay-container">
  <button class="btn-close" (click)="closeOverlay()">
    <i class="icn-close"></i>
  </button>

  <div class="overlay-contents">
    <report-card
      *ngIf="overlayData.action === 'report'"
      [thing]="overlayData.thing"
      (onCancel)="closeOverlay()">
    </report-card>

    <share-post-card
      *ngIf="overlayData.action === 'share'"
      [post]="overlayData.thing">
    </share-post-card>
  </div>
</div>

<post-card
  *ngIf="!isLoading"
  [post]="post"
  (onCommentSubmitted)="addComment($event)"
  (onPostAction)="openOverlay($event)">
</post-card>

<comments-feed
  *ngIf="!isLoading"
  [comments]="postComments"
  [sortMode]="commentsSortMode"
  [numComments]="post.num_comments"
  [nextComments]="nextComments.data"
  (onLoadMore)="loadMoreComments()"
  (onChangeSortMode)="changeSortMode($event)"
  (onCommentAction)="openOverlay($event)">
</comments-feed>
