<div class="full-size container theme-light">
  <div class="full-size inner container">
    <app-topbar
      [isSidebarActive]="showSidebar"
      (onSidebarToggle)="toggleSidebar()">
    </app-topbar>

    <app-sidebar
      *ngIf="!loadingUser"
      [ngClass]="{ 'is-active': showSidebar }">
    </app-sidebar>

    <div class="ng-outlet inner container" *ngIf="!loadingUser">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
