<div #srHeader class="sr-header" id="sr-header">

  <div id="header" role="banner">
    <div id="header-bottom-left">
      <a routerLink="/"
        [id]="subInfo.header_img ? 'header-img-a' : 'header-img'"
        [ngClass]="{ 'default-header': !subInfo.header_img }">

        {{ subInfo.header_img ? '' : 'reddit.com' }}
        <img *ngIf="subInfo.header_img" id="header-img" [src]="subInfo.header_img">
      </a>

      <span class="hover pagename redditname">
        <a [routerLink]="subInfo.url">
          {{ subInfo.display_name }}
        </a>
      </span>
    </div>
  </div>

</div>

<div class="sr-actions small-12 columns">

  <div class="sr-actions-layout small-12 columns">

    <div class="sr-action">
      <split-button
        (click)="subscribeUser()"
        [buttonLabel]="subInfo.user_is_subscriber ? 'Unsubscribe' : 'Subscribe'"
        [ngClass]="subInfo.user_is_subscriber ? 'red' : 'blue'"
      >
        <span class="label" button-icon>{{ subscriberCount }}</span>
      </split-button>
    </div>

    <div class="sr-action">
      <split-button
        (click)="toggleSubmitForm(true)"
        buttonLabel="Post"
        class="green"
      >
        <i class="icn-pen" button-icon></i>
      </split-button>
    </div>

    <div class="sr-action">
      <search-bar
        variant="secondary"
        placeholder="Search..."
        [(searchQuery)]="searchQuery">
      </search-bar>
    </div>

    <div class="sr-action">
      <select-box
        [(value)]="sortMode"
        [options]="
        [ { label: 'hot', value: 'hot', selected: true }
        , { label: 'top', value: 'top' }
        , { label: 'new', value: 'new' }
        , { label: 'rising', value: 'rising' }
        , { label: 'controversial', value: 'controversial' }
        ]">
      </select-box>
    </div>

  </div>
</div>

<div *ngIf="activeSubmitForm" class="overlay-container">
  <button class="btn-close" (click)="toggleSubmitForm(false)">
    <i class="icn-close"></i>
  </button>

  <div class="overlay-contents">
    <post-submit></post-submit>
  </div>
</div>
