//  Variables
//  ---------


//  Object Structure
//  ----------------

:host {
  position: relative;
  flex-shrink: 0;

  .sr-header {
    display: block !important;
    margin-bottom: 40px;

    #header {
      position: relative;
      z-index: 99;

      //padding-top: 20px;

      #header-img { display: inline-block; }

      &.default-header {
        text-indent: -9999px;

        background-image: url(https://www.redditstatic.com/sprite-reddit.6Om8v6KMv28.png);
        background-position: 0px -1323px;
        background-repeat: no-repeat;

        width: 120px;
        height: 40px;

        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 3px;
      }

      .pagename {
        font-weight: bold;
        margin-right: 1ex;
        font-variant: small-caps;
        font-size: 1.2em;
        vertical-align: bottom;

        a {
          top: 0px;
          color: black;

          &:hover { text-decoration: underline; }
        }
      }

      .pagename a { top: 0px; }
    }
  }

  .sr-actions {
    position: relative;
    bottom: 57px;
    z-index: 110;

    display: flex;

    .sr-actions-layout {
      position: absolute;
      display: flex;
    }

    .sr-action {
      margin: 0px 13px 0 0;
    }
  }
}
