//  Variables
//  ---------

$panel-width: 330px;

$panel-max-width: 350px;
$panel-min-width: 300px;

$panel-border-radius: 4px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 13px 18px;

  border-radius: $panel-border-radius;

  background-color: #FFF;
  box-shadow: 2px 6px 11px -1px rgba(37, 37, 37, 0.2);

  .card-header {

    .user-count {
      font-size:   12px;
      font-weight: 300;
      font-style:  italic;

      margin: 0;
    }

    .flair-toggle {
      .label {
        font-size: 0.725em;
        color: #888;

        margin-left: 4px;
      }
    }
  }

  .card-description {
    font-size:   14px;
    line-height: 1.4;

    margin-top:  10px;
    padding-top: 10px;

    border-top: 1px solid #F2F2F2;
  }
}
