<div class="card-header">
  <p class="user-count">{{ activeUsers }} users currently online</p>
  <div class="flair-toggle" *ngIf="userIsAuthenticated">
    <input type="checkbox" class="input-check input-flair" id="input-flair"
      [checked]="subInfo.user_sr_flair_enabled"
      (change)="toggleUserFlair($event)">
    <label class="label" for="input-flair">Show my flair on this subreddit.</label>
  </div>
</div>

<div class="card-description"
  *ngIf="subInfo.public_description_html"
  [innerHtml]="subDescription">
</div>
