@import '~styles/helpers/module';

//  Variables
//  ---------

$post-card-max-width: 1200px;

$post-card-height: 80px;

//  Object Structure
//  ----------------

:host {
  display: flex;

  height: $post-card-height;
  width:  100%;

  min-width: 500px;
  max-width: $post-card-max-width;

  background-color: #FFF;
  box-shadow: 2px 7px 18px -4px rgba(37, 37, 37, 0.26);

  .post-thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    height: 74px;
    width: 110px;

    background-color:    #F5F6F9;
    background-size:     cover;
    background-position: center center;

    border-radius: 3px;
    margin: 3px 0px 3px 3px;

    .static-thumbnail {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      border-radius: 100%;
      background-color: #E2E3E5;

      @include icon {
        display: flex;
        align-items: center;
        justify-content: center;

        color: #F7F8FA;

        &.icn-spoiler { font-size: 1.5em; }
      }
    }

  }

  .post-contents {
    flex-grow: 1;
    min-width: 0;

    margin: 0 20px 0 15px;;
    padding: 10px 0;

    .post-link {
      display: flex;

      .link {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 14px;
        font-weight: 400;

        &:hover { text-decoration: underline; }
      }
    }

    .post-meta {

      .meta {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 12px;
        font-weight: 300;
        font-style: italic;

        margin: 0;
      }

      .meta-author { font-weight: 600; }

      .meta-subreddit {
        font-weight: 600;

        &:hover { text-decoration: underline; }
      }
    }

    .post-actions {
      display: flex;
      margin: 3px 0 0 0;

      .post-action {
        display: flex;
        margin: 0px 12px 0px 0px;

        .btn-action {
          font-size:      8px;
          font-weight:    600;
          text-transform: uppercase;
          letter-spacing: 0.2px;
        }
      }
    }
  }

  .post-score {
    display: flex;
    align-items: center;

    font-size: 12px;

    margin: 0px 25px 0px 0px;
  }
}
