<div
  [ngClass]="{ 'post-thumbnail': true, 'static-bg': !hasThumbnail() }"
  [ngStyle]="{ 'background-image': 'url(' + post.thumbnail + ')' }">

  <span *ngIf="!hasThumbnail()" class="static-thumbnail">
    <i [ngClass]="'icn-' + (post.thumbnail || 'default')"></i>
  </span>

</div>

<div class="post-contents">
  <div class="post-link">
    <a *ngIf="hasExternalLink()" [href]="post.url" class="link" target="_blank">
      {{ post.title }}
    </a>

    <a *ngIf="!hasExternalLink()" [routerLink]="post.permalink" class="link" target="_blank">
      {{ post.title }}
    </a>
  </div>
  <div class="post-meta">
    <p class="meta">
      Submitted
      {{ getRelativeDate() }}
      by
      <span class="meta-author">{{ post.author }}</span>

      <span *ngIf="displaySubreddit">
        to
        <a [routerLink]="['/r', post.subreddit]" class="meta-subreddit">
          /r/{{ post.subreddit }}
        </a>
      </span>
    </p>
  </div>

  <div class="post-actions">
    <div class="post-action">
      <span class="btn-action">
        <a [routerLink]="post.permalink" target="_blank">
          {{ post.num_comments }} comments
        </a>
      </span>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action" (click)="savePost(!post.saved)">
        {{ post.saved ? 'Unsave' : 'Save' }}
      </button>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action"
        (click)="emitPostAction('report')"
        [disabled]="post.reported">
        {{ post.reported ? 'Reported' : 'Report' }}
      </button>
    </div>

    <div class="post-action">
      <button type="button" class="btn-action" (click)="emitPostAction('share')">
        Share
      </button>
    </div>

    <div class="post-action" *ngIf="this.canBePreviewed()">
      <button type="button" class="btn-action" (click)="emitPostAction('expand')">
        Expand
      </button>
    </div>
  </div>
</div>

<div class="post-score">
  <score-button
    [score]="voteCount"
    [likes]="post.likes"
    (onUpvote)="votePost($event)"
    (onDownvote)="votePost($event)">
  </score-button>
</div>
