<div *ngIf="showOverlay" class="overlay-container">
  <button class="btn-close" (click)="closeOverlay()">
    <i class="icn-close"></i>
  </button>

  <div class="overlay-contents">
    <post-submit
      *ngIf="activeOverlay === 'post-submit'"
      (onCancel)="closeOverlay()">
    </post-submit>

    <create-sub-card
      *ngIf="activeOverlay === 'create-sub'"
      (onCancel)="closeOverlay()">
    </create-sub-card>
  </div>
</div>

<div class="searchbar-wrapper">
  <search-bar
    [(searchQuery)]="searchQuery">
  </search-bar>
</div>

<div class="actions-wrapper">
  <div class="action-wrapper">
    <floating-button
      label="Submit a new post"
      (click)="openOverlay('post-submit')">
    </floating-button>
  </div>

  <div class="action-wrapper">
    <floating-button
      label="Create your own subreddit"
      (click)="openOverlay('create-sub')">
    </floating-button>
  </div>
</div>

<div class="reddit-gold-wrapper">
  <progress-bar
    type="circle"
    [value]="redditGold"
    [step]="animateRedditGold"
    [options]="
    { color: '#6900FF'
    , strokeWidth: 12
    , trailWidth: 0
    , easing: 'easeInOut'
    , duration: 1400
    , svgStyle:
      { display: 'block'
      , width: '100%'
      , overflow: 'visible'
      }
    , text:
      { autoStyleContainer: false
      , style:
        { textShadow: '4px 3px 9px rgba(0, 0, 0, 0.35)'
        , position: 'absolute'
        , left: '50%'
        , top: '50%'
        , padding: 0
        , margin: 0
        , transform:
          { prefix: true
          , value: 'translate(-50%, -50%)'
          }
        }
      }
    }">
  </progress-bar>
</div>
