//  Variables
//  ---------

$sidebar-max-width: 430px;
$sidebar-min-width: 405px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 85px;

  flex-basis: 25%;
  flex-grow:  0;

  width: 25%;

  max-width: $sidebar-max-width;
  min-width: $sidebar-min-width;

  .searchbar-wrapper {
    margin-bottom: 17px;
  }

  .actions-wrapper {
    display: flex;
    flex-direction: column;

    .action-wrapper {
      margin-bottom: 17px;
    }
  }

  .reddit-gold-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 335px;
    margin: 35px 0 0 0;
  }
}
