//  Variables
//  ---------

$panel-border-radius: 0px;

//  Object structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 13px 18px 3px 18px;

  border-radius: $panel-border-radius;

  background-color: #FFF;
  box-shadow: 2px 6px 11px -1px rgba(37, 37, 37, 0.2);

  .panel-info {
    //margin-bottom: 10px;

    .info-title .title { margin: 0; font-size: 14px; }

    .info-visibility-group {
      display: flex;

      .wrapper-visibility-toggle {
        display: flex;
        align-items: center;

        margin-right: 7px;

        .input-radio {
          width: 12px;
          margin: 4px 3px 0 0;
        }

        .label {
          font-size: 0.835em;
          font-weight: 300;
        }
      }
    }

    .info-actions {
      display: flex;
      margin-bottom: 10px;

      .info-action { margin-right: 7px; }
    }

    .info-controls {

      .info-control {
        display: flex;
        flex-direction: column;
        margin-top: -10px;

        .control-error {
          font-size: 11px;
          color: red;

          margin-top: 5px;
        }

        .control-wrapper {
          display: flex;
          border-top: 1px solid #F2F2F2;
          margin-top: 5px;
        }

        .input {
          flex-grow: 1;

          border-radius: 0px;
          border: 0;
        }

        .btn {
          font-size: 10px;
          border-radius: 0px;
        }
      }
    }
  }

  .panel-description {
    font-size: 14px;
    line-height: 1.4;

    border-top: 1px solid #F2F2F2;

    &:not(.editable) { padding-top: 10px; }
    margin-bottom: 10px;

    .edit-area .textarea {
      background-color: #FAFAFA;

      border: 1px solid #F2F2F2;

      border-radius: 0px;
      border-top: 0;
    }

    .panel-actions, .edit-actions {
      display: flex;

      .panel-action { margin-right: 7px; }
    }
  }
}
