<div class="panel-info">
  <div class="info-title">
    <p class="title">
      {{ multiInfo.display_name }} subreddits curated by /u/{{ userName }}
    </p>
  </div>

  <div class="info-visibility-group" *ngIf="multiInfo.can_edit">
    <label class="wrapper-visibility-toggle">
      <input name="multi-visibility" value="private" type="radio" class="input-radio"
        [checked]="multiInfo.visibility === 'private'"
        (change)="changeMultiVisibility($event)">
      <span class="label">private</span>
    </label>

    <label class="wrapper-visibility-toggle">
      <input name="multi-visibility" value="public" type="radio" class="input-radio"
        [checked]="multiInfo.visibility === 'public'"
        (change)="changeMultiVisibility($event)">
      <span class="label">public</span>
    </label>
  </div>

  <div class="info-actions">
    <div class="info-action">
      <button class="link-btn" (click)="toggleActiveControl('copy')">
        {{ multiInfo.can_edit ? 'copy' : 'create a copy' }}
      </button>
    </div>
    <div class="info-action" *ngIf="multiInfo.can_edit">
      <button class="link-btn" (click)="toggleActiveControl('rename')">
        rename
      </button>
    </div>
    <div class="info-action" *ngIf="multiInfo.can_edit">
      <button class="link-btn"
        *ngIf="!deleteAttempt"
        (click)="deleteAttempt = !deleteAttempt">
        delete
      </button>

      <span class="action-confirmation delete" *ngIf="deleteAttempt">
        <span class="prompt">are you sure?</span>
        <button class="link-btn yes" (click)="deleteMulti()">yes</button>
        /
        <button class="link-btn no" (click)="deleteAttempt = false">no</button>
      </span>
    </div>
  </div>

  <div class="info-controls" *ngIf="activeControl.name">

    <div class="info-control" *ngIf="activeControl.name === 'copy'">
      <span class="control-error" *ngIf="activeControl.error">
        {{ activeControl.error }}
      </span>

      <div class="control-wrapper">
        <input type="text" class="input" placeholder="Copy name..." #copyInput>
        <button class="btn" (click)="copyMulti(copyInput.value)">copy</button>
      </div>

    </div>

    <div class="info-control" *ngIf="activeControl.name === 'rename'">
      <span class="control-error" *ngIf="activeControl.error">
        {{ activeControl.error }}
      </span>

      <div class="control-wrapper">
        <input type="text" class="input" placeholder="New name..." #renameInput>
        <button class="btn" (click)="renameMulti(renameInput.value)">rename</button>
      </div>
    </div>

  </div>
</div>

<div
  class="panel-description"
  *ngIf="activeControl.name !== 'description'">

  <div class="description"
    [innerHTML]="multiDescription">
  </div>

  <div class="panel-actions" *ngIf="multiInfo.can_edit">
    <div class="panel-action">
      <button class="link-btn" (click)="toggleActiveControl('description')">
        edit description
      </button>
    </div>
  </div>
</div>

<div
  class="panel-description editable"
  *ngIf="activeControl.name === 'description'">

  <div class="edit-area">
    <textarea class="textarea"
      #descriptionEdits
      [value]="multiInfo.description_md">
    </textarea>
  </div>

  <div class="panel-actions">
    <div class="panel-action">
      <button class="link-btn" (click)="updateDescription(descriptionEdits.value)">
        save
      </button>
    </div>

    <div class="panel-action">
      <button class="link-btn" (click)="toggleActiveControl('description')">
        cancel
      </button>
    </div>
  </div>
</div>
