//  Variables
//  ---------

//  Object Structure
//  ----------------

:host {
  .comment-editor-layout {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    max-width: 1200px;

    background-color: #F9F9F9;
    box-shadow: 1px 4px 5px -1px rgba(37, 37, 37, 0.13);

    border-radius: 3px;

    padding: 10px 30px 10px;

    &.is-child {
      background-color: #FBFBFB;

      padding-top: 0px;

      box-shadow: none;
      border-radius: 0;

      .comment-editor-textarea { margin-top: 10px; }
    }
  }

  .comment-editor-textarea {
    margin: 15px 0 5px;

    .textarea {
      width: 100%;

      min-height: 100px;

      resize: vertical;

      border-radius: 0px;

      border: 1px solid #C3CFD6;
      outline: 0;

      &:focus { outline: 0; }

      &:not(:focus) {
        color: transparent;
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image:
          url("//b.thumbs.redditmedia.com/N5OgDGyjCamF0belDrv77rEZlGG5sTDYslvZcUyaoJw.png");
      }
    }
  }

  .comment-editor-actions {
    display: flex;

    font-size: 0.87em;
  }

  .comment-editor-action { margin-right: 15px; }
}
