<div [ngClass]="{ 'comment-editor-layout': true, 'is-child': isChild }">
  <div class="comment-editor-textarea">
    <textarea class="textarea" name="comment-editor-textarea"
      (focus)="editorHasFocus = true"
      (blur)="editorHasFocus = false"
      [spellcheck]="editorHasFocus ? true : false"
      [(ngModel)]="comment.text">
    </textarea>
  </div>

  <div class="comment-editor-actions">
    <div class="comment-editor-action">
      <button class="btn normal-text" (click)="submitComment()">
        Submit
      </button>
    </div>
    <div class="comment-editor-action">
      <button class="btn secondary normal-text" (click)="emitCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
