//  Variables
//  ---------

$panel-border-radius: 0px;

//  Object Definition
//  -----------------

:host {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 13px 18px;

  border-radius: $panel-border-radius;

  background-color: #FFF;
  box-shadow: 2px 6px 11px -1px rgba(37, 37, 37, 0.2);

  .panel-header {
    margin-bottom:  10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #F2F2F2;

    .heading { font-size: 14px; margin: 0; }
  }

  .sub-list-entries {
    list-style-type: none;

    padding: 0;
    margin:  0;

    &.action-entry {
      display: flex;
      align-items: center;
      margin: 5px 0 0 5px;
    }

    .sub-list-entry {
      display: flex;
      align-items: center;

      .sub-link {
        display: flex;

        font-size: 13px;
        font-weight: 400;

        .sub-prefix { color: #BDBDBD; }

        .sub-name { color: #515151; }
      }
    }
  }
}
