<div class="panel-header">
  <p class="heading">
    {{ multiInfo.subreddits.length }} subreddits in this multi
  </p>
</div>

<div class="sub-list">
  <ul class="sub-list-entries">
    <ng-container *ngFor="let sub of multiInfo.subreddits; index as i">
      <li class="sub-list-entry" *ngIf="(i+1 <= displayLimit) || !limitItems">
        <a class="link sub-link" [routerLink]="['/r', sub.name]">
          <span class="sub-prefix">r/</span>
          <span class="sub-name">{{ sub.name }}</span>
        </a>
      </li>
    </ng-container>
    <li class="action-entry" *ngIf="multiInfo.subreddits.length > displayLimit">
      <button type="button" class="link-btn" (click)="toggleLimit()">
        {{ limitItems ? 'show more...' : 'show less...' }}
      </button>
    </li>
  </ul>
</div>
