<div class="card-title">
  <p class="title">Create your own multireddit</p>
</div>

<div class="form-group">
  <form class="form" [formGroup]="multiForm" (ngSubmit)="submitData()">

    <div class="form-input">
      <label for="name" class="label">Name</label>
      <input type="text" class="input" placeholder="Name..." id="name"
        formControlName="display_name">

      <div class="field-errors" *ngIf="name.invalid && (name.dirty || name.touched)">
        <span class="error" *ngIf="name.errors.required">
          Name is required.
        </span>
        <span class="error" *ngIf="name.errors.pattern">
          Name can only contain Alphanumeric (A-z, 0-9) and _ characters.
        </span>
        <span class="error" *ngIf="name.errors.minlength">
          Name must be at least 3 characters long.
        </span>
      </div>
    </div>

    <div class="form-input">
      <label for="multi-subs" class="label">Subreddits</label>
      <tag-input
        formControlName="subreddits"
        secondaryPlaceholder="Subreddits..."
        theme="minimal"
        class="tag-input"
        inputClass="tag-input-inner"
        [maxItems]="10"
        [addOnBlur]="true"
        [ripple]="false"
        [onlyFromAutocomplete]="true"
        [modelAsStrings]="true">

        <tag-input-dropdown
          offset="30 5"
          class="tag-input-dropdown"
          [autocompleteObservable]="subAutoComplete"
          [appendToBody]="false">
        </tag-input-dropdown>

      </tag-input>
    </div>

    <div class="form-input">
      <label for="description" class="label">Description</label>
      <textarea class="textarea" id="description"
        placeholder="Multireddit Description..."
        formControlName="description_md">
      </textarea>
    </div>

    <div class="form-input">
      <label for="visibility" class="label">Visibility</label>
      <select class="select" id="visibility" formControlName="visibility">
        <option value="public">Public</option>
        <option value="private">Private</option>
        <option value="hidden">Hidden</option>
      </select>
    </div>

    <div class="form-errors" *ngIf="responseErrors.length > 0">
      <span *ngFor="let error of responseErrors" class="error">
        {{ error.reason === "INVALID_OPTION"
            ? 'field ' + error.fields[0] + ' is not valid.'
            : error.explanation
        }}
      </span>
    </div>

    <div class="form-controls">
      <div class="form-control">
        <submit-button
          [isDisabled]="multiForm.pristine || multiForm.invalid"
          [isLoading]="loadingRequest">
          Submit
        </submit-button>
      </div>
      <div class="form-control">
        <button type="button" class="btn secondary" (click)="emitCancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
