//  Variables
//  ---------

$card-width: 600px;
$card-border-radius: 4px;

//  Object Definition
//  -----------------

:host {
  display: flex;
  flex-direction: column;

  width:  $card-width;
  height: auto;

  border-radius: $card-border-radius;

  background-color: #FFF;

  margin-top: 7.5%;
  margin-bottom: 40px;

  .card-title {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 37.5px;

    border-bottom: 1px solid #E9E9E9;

    .title { font-size: 0.875em; }
  }

  .form-group .form {
    display: flex;
    flex-direction: column;

    padding: 0 75px;
    margin:  20px 0 20px;

    .form-input {
      display: flex;
      flex-direction: column;

      &:not(:last-child) { margin-bottom: 10px; }
    }

    .form-errors, .field-errors {
      display: flex;
      flex-direction: column;

      &.field-errors { margin-top: 7px; }
    }

    .form-controls {
      display: flex;

      margin-top: 10px;

      .form-control { margin-right: 15px; }
    }
  }
}
