<div class="full-size content-start inner container background-base">
  <div class="small-12 columns collapse-self" >
    <subreddit-header *ngIf="subInfo"
      [(sortMode)]="sortMode"
      [subName]="subName"
      [subInfo]="subInfo"
      [(searchQuery)]="searchQuery">
    </subreddit-header>
  </div>

  <div class="inner container has-gutters background-base">
    <div class="columns">
      <router-outlet>
      </router-outlet>
    </div>

    <subreddit-panels *ngIf="subInfo"
      class="columns show-for-large"
      [subName]="subName"
      [subInfo]="subInfo">
    </subreddit-panels>
  </div>
</div>
