<div class="card-title">
  <p class="title">Create your own subreddit</p>
</div>

<div class="form-group">
  <form class="form" [formGroup]="subForm" (ngSubmit)="submitData()">
    <div class="form-input">
      <label for="name" class="label">Name</label>
      <input type="text" class="input" placeholder="Name..." id="name" formControlName="name">

      <div class="field-errors">
        <span *ngIf="subForm.get('name').dirty && !validSubName" class="error">
          Subreddit name <em>"{{ subForm.get('name').value }}"</em> is already taken.
        </span>
      </div>
    </div>
    <div class="form-input">
      <label for="title" class="label">Title</label>
      <input type="text" class="input" placeholder="Title..." id="title" formControlName="title">
    </div>
    <div class="form-input">
      <label for="public_description" class="label">Description</label>
      <textarea class="textarea" id="public_description" formControlName="public_description"
        placeholder="Subreddit description...">
      </textarea>
    </div>
    <div class="form-input">
      <label for="description" class="label">Sidebar</label>
      <textarea class="textarea" id="description" formControlName="description"
        placeholder="Sidebar contents...">
      </textarea>
    </div>
    <div class="form-input">
      <label for="link-type" class="label">Allowed Posts</label>
      <select class="select" id="link-type" formControlName="link_type">
        <option value="any">Any kind</option>
        <option value="link">Link posts only</option>
        <option value="self">Text posts only</option>
      </select>
    </div>
    <!-- Perhaps change to radio buttons -->
    <div class="form-input">
      <label for="type" class="label">Visibility</label>
      <select class="select" id="type" formControlName="type">
        <option value="public">Public</option>
        <option value="restricted">Restricted</option>
        <option value="private">Private</option>
      </select>
    </div>
    <!-- Perhaps change to radio buttons -->
    <div class="form-input">
      <label for="wikimode" class="label">Wiki Mode</label>
      <select class="select" id="wikimode" formControlName="wikimode">
        <option value="disabled">Disabled</option>
        <option value="modonly">Only approved members can edit</option>
        <option value="anyone">Anyone can edit</option>
      </select>
    </div>

    <div class="form-errors" *ngIf="validationErrors.length > 0">
      <span *ngFor="let error of validationErrors" class="error">
        {{ error.code === "INVALID_OPTION"
            ? 'field ' + error.field + ' is not valid.'
            : error.reason
        }}
      </span>
    </div>

    <div class="form-controls">
      <div class="form-control">
        <submit-button
          [isDisabled]="subForm.pristine || subForm.invalid "
          [isLoading]="loadingRequest">
          Submit
        </submit-button>
      </div>
      <div class="form-control">
        <button type="button" class="btn secondary" (click)="emitCancel()">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
