<div class="panel-header">
  <p class="heading">Posting Rules</p>
</div>

<div class="sub-rules">
  <ul class="sub-rules-entries">
    <ng-container *ngFor="let subRule of subRules; index as i">
      <li class="sub-rules-entry" *ngIf="(i+1 <= displayLimit) || !limitItems">
        <p class="rule-name">{{ subRule.short_name }}</p>
      </li>
    </ng-container>
    <li class="action-entry" *ngIf="subRules.length > displayLimit">
      <button type="button" class="link-button" (click)="toggleLimit()">
        {{ limitItems ? 'show more...' : 'show less...' }}
      </button>
    </li>
  </ul>
</div>
