//  Variables
//  ---------

$panel-width: 330px;

$panel-max-width: 350px;
$panel-min-width: 300px;

$panel-border-radius: 4px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width: 100%;

  //max-width: $panel-max-width;
  //min-width: $panel-min-width;

  padding: 13px 18px;

  border-radius: $panel-border-radius;

  background-color: #FFF;
  box-shadow: 2px 6px 11px -1px rgba(37, 37, 37, 0.2);

  .panel-header {
    // TODO: We could also move this chunk to the entries
    margin-bottom:  10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #F2F2F2;

    .heading {
      font-size: 14px;
      font-weight: 400;

      margin: 0;
    }
  }

  .sub-rules-entries {
    list-style: none;

    padding: 0;
    margin:  0;

    .action-entry {
      display: flex;
      align-items: center;
      margin: 5px 0 0 0;
    }

    .sub-rules-entry {
      display: flex;

      &:not(:last-child) { margin-bottom: 4px; }

      .rule-name {
        display: flex;
        align-items: center;

        font-size: 12px;
        margin: 0;

        &:before {
          content: "\2022 ";
          font-size: 0.76em;
          color: #98ABBA;
          vertical-align: middle;
          line-height: 15px;
          margin: 0 6px 0 0px;
        }
      }
    }
  }
}
