@import '~styles/helpers/module';

//  Variables
//  ---------

$post-card-max-width: 1200px;

//  Object Structure
//  ----------------

:host {
  flex-shrink: 0;

  .post-card {
    display: flex;
    flex-direction: column;

    position: relative;

    width:  100%;
    height: auto;

    max-width: 1200px;

    padding: 0px 25px;

    background-color: #FFF;
    box-shadow: 1px 4px 10px -3px rgba(37, 37, 37, 0.22);

    .post-info {
      display: flex;
      align-items: center;
      margin: 15px 0px 10px;

      .post-score {
        font-size: 12.8px;
        margin-right: 25px;
      }

      .post-header {
        display: flex;
        flex-grow: 1;
        flex-direction: column;

        .post-link { display: flex; }

        .post-meta {
          .meta {
            font-size:   12px;
            font-weight: 300;
            font-style:  italic;
            line-height: 1.2;

            margin: 0;
          }
        }

        .post-actions {
          display: flex;
          margin: 3px 0 0 0;

          .post-action {
            display: flex;
            margin: 0 12px 0 0;

            .btn-action {
              font-size:      8px;
              font-weight:    600;
              text-transform: uppercase;
              letter-spacing: 0.2px;
            }
          }
        }
      }
    }

    .post-content {
      flex-grow: 1;
      margin: 2px 0 20px;

      .post-text {
        background-color: #FAFAFA;
        border-radius: 4px;
        border: 1px solid #6C8BAA;

        padding: 5px 10px;
      }

      .post-image .image {
        border-radius: 4px;
        box-shadow: 0px 2px 14px -3px rgba(0, 0, 0, 0.55);

        width: 100%;
      }

      .post-media {
        display: flex;
        justify-content: center;
      }

      .post-video {

        .video {
          border-radius: 4px;
          box-shadow: 0px 2px 18px -3px rgba(0, 0, 0, 0.36);

          width: 100%;
        }
      }

      &.is-collapsed {
        display: none;
      }
    }
  }

  .wrapper-comment-editor {
    margin-top: -10px;
  }
}
