<div class="post-card-layout">
  <div class="post-card">

    <div class="post-info">
      <div class="post-score">
        <score-button
          [score]="postScore"
          [likes]="post.likes"
          (onUpvote)="votePost($event)"
          (onDownvote)="votePost($event)">
        </score-button>
      </div>

      <div class="post-header">
        <div class="post-link">
          <a *ngIf="hasExternalLink()" [href]="post.url" class="link" target="_blank">
            {{ post.title | truncate: 200 }}
          </a>

          <a *ngIf="!hasExternalLink()" [routerLink]="post.permalink" class="link" target="_blank">
            {{ post.title | truncate: 200 }}
          </a>
        </div>

        <div class="post-meta">
          <p class="meta">
            Submitted
            {{ relativeCreationDate }}
            by
            <span class="bold-text">{{ post.author }}</span>
            to
            <a [routerLink]="['/r', post.subreddit]" class="bold-text">
              /r/{{ post.subreddit }}
            </a>
          </p>
        </div>

        <div class="post-actions">
          <div class="post-action">
            <span class="btn-action">
              <a [routerLink]="post.permalink" target="_blank">
                {{ post.num_comments }} comments
              </a>
            </span>
          </div>
          <div class="post-action">
            <button type="button" class="btn-action" (click)="savePost(!post.saved)">
              {{ post.saved ? 'Unsave' : 'Save' }}
            </button>
          </div>
          <div class="post-action">
            <button type="button" class="btn-action"
              (click)="emitPostAction('report')"
              [disabled]="post.reported">
              {{ post.reported ? 'Reported' : 'Report' }}
            </button>
          </div>
          <div class="post-action">
            <button type="button" class="btn-action" (click)="emitPostAction('share')">
              Share
            </button>
          </div>
          <div class="post-action">
            <button type="button" class="btn-action"
              *ngIf="hasContent()"
              (click)="toggleCollapse()" >
              {{ isCollapsed ? 'Uncollapse' : 'Collapse' }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="hasContent()"
      [ngClass]="{ 'post-content': true, 'is-collapsed': isCollapsed }">

      <div class="post-text typography" *ngIf="post.is_self"
        [innerHtml]="selfText">
      </div>

      <div class="post-media" *ngIf="(post.media !== null) && (post.is_video === false)"
        [innerHtml]="postMedia">
      </div>

      <div class="post-image" *ngIf="!post.media && !post.is_self">
        <img class="image" [src]="postImage">
      </div>

      <div class="post-video" *ngIf="post.is_video">
        <video class="video" controls muted="false" [src]="videoSource"></video>
      </div>
    </div>

  </div>

  <div class="wrapper-comment-editor" *ngIf="user.isAuthenticated()">
    <comment-editor
      (onCommentSubmitted)="commentSubmited($event)"
      [parentId]="post.name">
    </comment-editor>
  </div>
</div>
