<div class="sub-panel">
  <sub-info-panel
    [subInfo]="subInfo">
  </sub-info-panel>
</div>

<div class="sub-panel">
  <sub-rules-panel
    [subName]="subName">
  </sub-rules-panel>
</div>

<div class="sub-panel">
  <sub-mods-panel
    [subName]="subName">
  </sub-mods-panel>
</div>
