//  Variables
//  ---------

$panel-max-width: 410px;
$panel-min-width: 370px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  flex-basis: 25%;
  flex-grow:  0;

  width: 25%;

  max-width: $panel-max-width;
  min-width: $panel-min-width;

  .sub-panel {
    width: 100%;
    margin-bottom: 20px;
  }
}
