//  Variables
//  ---------


//  Object structure
//  ----------------

:host {

  .floating-button {
    position: relative;
    z-index: 15;

    cursor: pointer;

    //width: 335px;
    width: 100%;
    height: 45px;

    background-color: #6900FF;

    box-shadow: 2px 6px 12px -3px rgba(37, 37, 37, 0.45);

    .label {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 300;
      font-size:   0.9375em;
      line-height: 1;

      color: #FAFAFA;
    }

  }
}
