//  Variables
//  ---------

$card-width: 600px;
$card-border-radius: 4px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width:  $card-width;
  height: auto;

  border-radius: $card-border-radius;

  background-color: #FFF;

  margin-top: 7.5%;

  transition: height 700ms ease-in;

  .card-title {
    display: flex;
    align-items: center;

    height: 40px;
    padding: 0 37.5px;

    border-bottom: 1px solid #E9E9E9;

    .title { font-size: .875rem; }
  }

  .form-group {
    flex-grow: 1;

    &, .form-inputs {
      display: flex;
      flex-direction: column;
    }

    margin: 25px 0 25px;
    padding: 0px 75px;

    .form-input {
      &:not(:last-child) { margin: 0 0 10px 0; }

      .wrapper-input { display: flex; align-items: center; }

      .input-radio {
        flex-shrink: 0;
        font-size: 12px;
        margin-right: 10px;
      }

      .label {
        font-size:   15px;
        font-weight: 300;
        line-height: 1.2;

        margin: 0;
      }
    }

    .form-controls {
      display: flex;

      margin-top: 20px;

      .form-control { margin-right: 15px; }
    }
  }

  .form-success {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 25px 0 25px;
    padding: 0 75px;

    .btn { margin-top: 15px; }
  }

  .wrapper-spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 8.125rem;

    .bar-spinner { font-size: .5em; }
  }
}
