@import '~styles/helpers/module';

//  Variables
//  ---------

$overlay-border-radius: 4px;
$overlay-width: 600px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width:  $overlay-width;
  height: auto;

  border-radius: $overlay-border-radius;

  background-color: #FFF;

  padding: 0px 25px;
  margin:  30px 0px;

  .post-header {
    display: flex;
    padding: 15px 0px;

    .post-score {
      font-size: 12.8px;
      margin-right: 20px;
    }

    .post-title {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;

      .title {
        margin: 0;
        line-height: 1.4;
      }

      .meta {
        font-size:   12px;
        font-weight: 300;
        font-style:  italic;
        //line-height: 1.2;

        margin: 0;
      }
    }
  }

  .post-content {
    flex-grow: 1;

    .post-text {
      background-color: #FAFAFA;
      border-radius: 4px;
      border: 1px solid #6C8BAA;

      padding: 5px 10px;
    }

    .post-image {

      .image {
        border-radius: 4px;
        box-shadow: 0px 2px 14px -3px rgba(0,0,0,0.55);

        width: 100%;
      }
    }

    .post-media {
      display: flex;
      justify-content: center;
    }

    .post-video {

      .video {
        border-radius: 4px;
        box-shadow: 0px 2px 18px -3px rgba(0,0,0,0.36);

        width: 100%;
      }
    }
  }

  .post-actions {
    display: flex;
    justify-content: center;

    .post-action {
      margin: 0px 17.5px;

      .btn-action {
        text-transform: uppercase;

        padding: 20px 0px;
      }
    }
  }
}
