<div class="post-header">
  <div class="post-score">
    <score-button
      [score]="postScore"
      [likes]="post.likes"
      (onUpvote)="votePost($event)"
      (onDownvote)="votePost($event)"
    >
    </score-button>
  </div>
  <div class="post-title">
    <p class="title">
      <a [href]="post.url" class="link" target="_blank">
        {{ post.title | truncate: 200 }}
      </a>
    </p>
    <p class="meta">
      Submitted
      {{ relativeCreationDate }}
      by
      <span class="bold-text">{{ post.author }}</span>
      to
      <a [routerLink]="post.subreddit_name_prefixed" class="bold-text">
        /r/{{ post.subreddit }}
      </a>
    </p>
  </div>
</div>

<div class="post-content">
  <div class="post-text typography" *ngIf="post.is_self"
    [innerHtml]="getSelfText()">
  </div>

  <div class="post-media" *ngIf="(post.media !== null) && (post.is_video === false)"
    [innerHtml]="getMedia()">
  </div>

  <div class="post-image" *ngIf="!post.media && !post.is_self">
    <img class="image" [src]="getPostImage()">
  </div>

  <div class="post-video" *ngIf="post.is_video">
    <video class="video" controls preload="auto" [src]="videoSource()"></video>
  </div>
</div>

<div class="post-actions">
  <div class="post-action">
    <button class="btn-action" (click)="savePost(!post.saved)">
      {{ post.saved ? 'Unsave' : 'Save' }}
    </button>
  </div>
  <div class="post-action">
    <button class="btn-action" (click)="emitPostAction('share')">
      Share
    </button>
  </div>
  <div class="post-action" (click)="emitPostAction('report')">
    <button class="btn-action">
      Report
    </button>
  </div>
</div>
