<button type="submit"
  [ngClass]="{ 'btn': true, 'is-loading': isLoading }"
  [disabled]="isDisabled">

  <div class="wrapper-spinner" *ngIf="isLoading">
    <div [ngClass]="['spinner', spinnerType]"></div>
  </div>
  <div class="contents" #contents>
    <ng-content>
    </ng-content>
  </div>
</button>
