//  Variables
//  ---------

//  Object Definition
//  -----------------

:host {
  .btn {
    transition: width 700ms ease;

    .wrapper-spinner {
      display: flex;
      padding-left: 11px;
    }

    .contents {
      display: flex;
      flex-grow: 1;
      justify-content: center;
    }

    &.is-loading {
      justify-content: flex-start;

      .contents {
        justify-content: flex-start;

        padding-left: 9px;
      }
    }
  }
}

//  Spinner Types
//  -------------

:host {
  .spinner.round-spinner {
    font-size: 10px;
    text-indent: -9999em;

    width: 12px;
    height: 12px;

    margin: 0;

    border-radius: 100%;
    background: #FFF;
    background: linear-gradient(to right, #FFF 10%, rgba(255, 255, 255, 0) 42%);

    position: relative;

    animation: roundSpinner 1.4s infinite linear;
    transform: translateZ(0);

    &:before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 50%;
      height: 50%;

      border-radius: 100% 0 0 0;
      //background: #FFF;

    }

    &:after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      width: 75%;
      height: 75%;

      margin: auto;

      background: #6900ff;
      border-radius: 100%;
    }
  }
}
