<div class="full-size align-start inner container has-gutters background-base">
  <div class="flex-column columns">
    <post-feed-filters
      *ngIf="multiInfo"
      [(sortMode)]="sortMode"
      [(feedSource)]="feedSource"
      [searchMode]="searchQuery.trim()"
      [multiInfo]="multiInfo">
    </post-feed-filters>

    <post-feed>
    </post-feed>
  </div>

  <multireddit-sidebar
    class="columns show-for-large"
    [(searchQuery)]="searchQuery"
    [multiInfo]="multiInfo"
    [userName]="userName">
  </multireddit-sidebar>
</div>
