//  Variables
//  ---------

$sidebar-max-width: 430px;
$sidebar-min-width: 405px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 85px;

  flex-basis: 25%;
  flex-grow:  0;

  width: 25%;

  max-width: $sidebar-max-width;
  min-width: $sidebar-min-width;

  .multi-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .searchbar-wrapper { margin-bottom: 17px; }

    .actions-wrapper {
      display: flex;
      flex-direction: column;

      .action-wrapper { margin-bottom: 17px; }
    }
  }

  .multi-panels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .multi-panel { margin-bottom: 20px; }
  }

}
