<div *ngIf="showOverlay" class="overlay-container">
  <button class="btn-close" (click)="closeOverlay()">
    <i class="icn-close"></i>
  </button>

  <div class="overlay-contents">
    <post-submit
      *ngIf="activeOverlay === 'post-submit'"
      (onCancel)="closeOverlay()">
    </post-submit>

    <create-multi-card
      *ngIf="activeOverlay === 'create-multi'"
      (onCancel)="closeOverlay()">
    </create-multi-card>
  </div>
</div>

<div class="multi-actions">
  <div class="searchbar-wrapper">
    <search-bar
      [(searchQuery)]="searchQuery">
    </search-bar>
  </div>

  <div class="actions-wrapper">
    <div class="action-wrapper">
      <floating-button
        label="Submit a new post"
        (click)="openOverlay('post-submit')">
      </floating-button>
    </div>

    <div class="action-wrapper">
      <floating-button
        label="Create a new multireddit"
        (click)="openOverlay('create-multi')">
      </floating-button>
    </div>
  </div>
</div>

<div class="multi-panels" *ngIf="multiInfo">
  <div class="multi-panel">
    <multi-info-panel
      [multiInfo]="multiInfo"
      [userName]="userName">
    </multi-info-panel>
  </div>
  <div class="multi-panel">
    <sub-list-panel
      [multiInfo]="multiInfo">
    </sub-list-panel>
  </div>
</div>
