//  Variables
//  ---------

$btn-width: 26px;
$btn-height: 26px;

$btn-bar-thickness: 3px;

$btn-bar-pad: 3px;
$btn-bar-space: 3px;

$btn-transition-duration: 0.3s;

$btn-color: #515151;

//  Object Definition
//  -----------------

:host .burger-btn {
  display: block;
  overflow: hidden;

  position: relative;
  z-index: 30;

  width: $btn-width;
  height: $btn-height;

  background-color: transparent;

  text-indent: -9999px;
  font-size: 0;
  padding: 0;
  margin: 0;

  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;

  cursor: pointer;

  .btn-bars {
    display: block;

    position: absolute;;
    top: ($btn-height / 2) - ($btn-bar-thickness / 2);
    left: $btn-bar-pad;
    right: $btn-bar-pad;

    height: $btn-bar-thickness;

    background-color: $btn-color;

    transition: background-color 0s $btn-transition-duration;

    &::after,
    &::before {
      content: "";
      display: block;

      position: absolute;
      left: 0px;

      width: 100%;
      height: $btn-bar-thickness;

      background-color: $btn-color;

      transition-duration: $btn-transition-duration;
      transition-delay: 0.3s, 0s;
    }

    &::after {
      bottom: -$btn-bar-thickness - $btn-bar-space;

      /* autoprefixer: off */
      transition-property: bottom, transform;
    }

    &::before {
      top: -$btn-bar-thickness - $btn-bar-space;

      /* autoprefixer: off */
      transition-property: top, transform;

    }
  }

  &.is-active .btn-bars {
    background-color: transparent !important;

    &::after {
      bottom: 0px;
      transform: rotate(-45deg);
    }

    &::before {
      top: 0px;
      transform: rotate(45deg);
    }

    &::after,
    &::before {
      transition-delay: 0s, $btn-transition-duration;
    }
  }
}
