<div [ngClass]="{
  'comment-card-layout': true,
  'is-parent': isParent,
  'is-collapsed': isCollapsed
}">

  <div class="section-comment">
    <div class="comment-score">
      <score-button
        [score]="commentScore()"
        [likes]="comment.likes"
        (onUpvote)="voteComment($event)"
        (onDownvote)="voteComment($event)">
      </score-button>
    </div>

    <div class="comment-contents">
      <div class="comment-meta">
        <p class="meta">
          <a href="" class="meta-collapse" (click)="collapseComment($event)">
            {{ isCollapsed ? '[+]' : '[–]' }}
          </a>
          <span class="meta-author bold-text">{{ comment.author }}</span>
          <span class="meta-score bold-text" *ngIf="isCollapsed">{{ commentScore() }} points</span>
          <span class="meta-time">{{ relativeCreationDate() }}</span>
        </p>
      </div>

      <div class="comment-body"
        [innerHTML]="commentBody">
      </div>

      <div class="comment-actions" *ngIf="user.isAuthenticated()">
        <div class="comment-action">
          <button class="btn-action" (click)="saveComment(!comment.saved)">
            {{ comment.saved ? 'unsave' : 'save' }}
          </button>
        </div>
        <div class="comment-action">
          <button class="btn-action"
            (click)="reportComment()"
            [disabled]="comment.reported">
            {{ comment.reported ? 'reported' : 'report' }}
          </button>
        </div>
        <div class="comment-action">
          <button class="btn-action" (click)="toggleReplyEditor($event)">
            reply
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-reply-editor" *ngIf="showReplyEditor && user.isAuthenticated()">
    <comment-editor
      [isChild]="true"
      [parentId]="comment.name"
      (onCancel)="this.toggleReplyEditor()"
      (onCommentSubmitted)="addChild($event)">
    </comment-editor>
  </div>

  <div class="section-replies" *ngIf="comment.replies">
    <div class="wrapper-reply" *ngFor="let reply of comment.replies.data.children">
      <comment-card
        *ngIf="reply.kind === 't1'"
        [comment]="reply.data"
        [isParent]="false">
      </comment-card>
    </div>
  </div>
</div>
