@import '~styles/helpers/module';

//  Variables
//  ---------

//  Object Structure
//  ----------------

:host {

  .comment-card-layout {
    display: flex;
    flex-direction: column;

    margin-left: 23px;
    border-left: 1px solid #EDF1F3;

    &.is-parent {
      position: relative;

      min-width: 500px;
      max-width: 1200px;

      background-color: #FFF;
      box-shadow: 1px 4px 5px -1px rgba(37, 37, 37, 0.13);

      width:  100%;
      height: auto;

      margin: 0;
      border-radius: 3px;

      padding: 15px 0 15px 0;

      &.is-collapsed .meta-collapse::after {
        height: 100% !important;
        margin-top: -38px !important;
      }
    }

    &.is-collapsed {
      .comment-body,
      .comment-score,
      .comment-actions,
      .section-replies { display: none !important; }

      .comment-contents {
        margin-left: 44.6px;

        .meta span {
          font-style: italic;

          &.meta-author { color: gray; }
        }

        .meta-collapse::after {
          content: "";
          display: block;

          position: absolute;
          left: 0px;

          width: 100%;
          height: 38px;

          margin-top: -29px;
          border-radius: 2px;
          color: transparent;

          background-color: rgba(0, 0, 0, 0.00);
          transition: background-color .2s cubic-bezier(.4,0,.2,1);
        }

        .meta-collapse:hover::after { background-color: rgba(0, 0, 0, 0.04); }
      }
    }
  }

  .section-comment {
    display: flex;

    width: 100%;
    margin: 5px 0 5px 0;

    .comment-score {
      font-size: 10.5px;

      margin-left: 20px;
      padding: 4px 15px 0 0;
    }

    .comment-contents {
      display: flex;
      flex-direction: column;
      justify-content: center;

      flex-grow: 1;

      padding-right: 25px;

      .comment-meta {

        .meta {
          font-size: 0.75em;
          margin: 0;

          .meta-score { color: #738491; }
          .meta-time { color: #98ABBA; }

          .meta-collapse {
            font-size:   0.83em;
            font-weight: 700;

            letter-spacing: 1px;
          }

          .meta-author::after {
            content: "• ";

            font-size: 0.625em;
            font-weight: 400;
            color: #98ABBA;

            vertical-align: middle;
            line-height: 15px;

            margin: 0 2px 0 4px;
          }
        }
      }

      .comment-actions {
        display: flex;

        .comment-action .btn-action {
          font-size: 0.625em;
          color: #98ABBA;
        }

        .comment-action { display: flex; padding: 0 4px; }
        .comment-action:first-child { padding-left: 0; }
      }
    }
  }

  .wrapper-reply-editor { }
}
