<div class="panel-header">
  <p class="heading">Moderators</p>
</div>

<div class="sub-mods">
  <ul class="sub-mods-entries">
    <ng-container *ngFor="let subMod of subMods; index as i">
      <li class="sub-mods-entry" *ngIf="(i+1 <= displayLimit) || !limitItems">
        <a href="" class="mod-link">{{ subMod.name }}</a>
      </li>
    </ng-container>
    <li class="action-entry" *ngIf="subMods.length > displayLimit">
      <button type="button" class="link-btn" (click)="toggleLimit()">
        {{ limitItems ? 'show more...' : 'show less...' }}
      </button>
    </li>
  </ul>
</div>
