//  Variables
//  ---------

$panel-width: 330px;

$panel-max-width: 350px;
$panel-min-width: 300px;

$panel-border-radius: 4px;

//  Object Structure
//  ----------------

:host {
  display: flex;
  flex-direction: column;

  width: 100%;

  padding: 13px 18px;

  border-radius: $panel-border-radius;

  background-color: #FFF;
  box-shadow: 2px 6px 11px -1px rgba(37, 37, 37, 0.2);

  .panel-header {
    margin-bottom:  10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #F2F2F2;

    .heading {
      font-size: 14px;

      margin: 0;
    }
  }

  .sub-mods-entries {
    list-style: none;

    padding: 0;
    margin:  0;

    .action-entry {
      display: flex;
      align-items: center;
      margin: 5px 0 0 0;
    }

    .sub-mods-entry {
      font-size: 12px;

      // TODO: This shouldn't be necessary here, ideally you
      // would have a global modifier
      .mod-link { color: #5B92FA; }
    }
  }
}
