@import '~styles/helpers/module';

//  Variables
//  ---------

$search-bar-background-color: #FFFFFF;
$search-bar-box-shadow-color: rgb(37, 37, 37);

$search-input-font-size: 1em;
$search-input-text-color: #738491;

//  Object Structure
//  ----------------

%search-bar-layout {
  display: flex;

  .search-bar-input-container {
    display: flex;
    flex-grow: 1;

    .search-bar-input {
      width: 100%;

      font-size: $search-input-font-size;

      border: 0;
      background: transparent;

      &:focus { outline: 0; }
    }
  }

  .search-trigger {
    display: flex;

    .btn-search { padding: 0px 12px; }
  }
}

//  Variants
//  --------

%layout-primary {
  position: relative;
  justify-content: flex-end;

  width: 100%;
  height: 45px;

  background-color: $search-bar-background-color;
  box-shadow: 2px 6px 12px -3px rgba($search-bar-box-shadow-color, 0.45);

  .search-bar-input-container {
    position: absolute;
    width:  100%;
    height: 100%;

    .search-bar-input {
      font-size: 15px;
      font-weight: 300;
      color: $search-input-text-color;
      text-align: center;

      &::placeholder { color: $search-input-text-color; }
    }
  }

  .search-trigger {

    .btn-search { padding: 0px 20px; }

    @include icon {
      display: flex;
      color: #6900FF;
    }
  }
}

%layout-secondary {
  width: 205px;
  height: 35px;

  border-radius: 3px;
  background-color: #FFF;
  box-shadow: 3px 6px 17px -3px rgba(37, 37, 37, 0.35);

  .search-bar-input-container .search-bar-input {
    font-size: 13px;
    font-weight: 400;
    color: #383838;

    text-align: left;
    padding: 0 0 0 15px;

    &::placeholder {
      color: rgba(#383838, 0.5)
    }
  }

  .search-trigger {
    .btn-search { padding: 0 15px; }

    @include icon {
      font-size: 12px;
      color: #383838;
    }
  }
}

//  Exported Object
//  ---------------

:host {
  z-index: 15;

  .search-bar-layout {
    @extend %search-bar-layout;

    &.variant-primary { @extend %layout-primary; }
    &.variant-secondary { @extend %layout-secondary; }
  }
}
