<div [ngClass]="['search-bar-layout', 'variant-' + variant]">
  <div class="search-bar-input-container">
    <input
      [(ngModel)]="searchQuery"
      [placeholder]="inputPlaceholder"
      type="text"
      class="search-bar-input"
    >
  </div>
  <div class="search-trigger">
    <button class="btn-search">
      <i class="icn-search"></i>
    </button>
  </div>
</div>
