//  Variables
//  ---------

$topbar-height: 45px;

//  Object Definition
//  -----------------

:host {
  display: flex;

  position: fixed;
  z-index: 125;
  top: $topbar-height;
  left: -240px;

  width: 240px;
  height: calc(100% - 45px);

  background-color: #FFF;
  box-shadow: 0px 2px 8px -1px rgba(37, 37, 37, 0);

  transition: left 300ms, box-shadow 0.3s;

  &.is-active {
    left: 0px;
    box-shadow: 0px 2px 8px -1px rgba(37, 37, 37, 0.35);
  }

  .sidebar-layout {
    list-style-type: none;

    width:  100%;
    height: 100%;
    overflow: scroll;

    padding: 10px 0;
    margin: 0;

    #multireddit-section { display: none; }

    .sidebar-section {
      padding: 0 15px;
    }

    .sidebar-section-header-container {
      padding: 2px 10px 5px 10px;

      .sidebar-section-header {
        font-size: 0.68em;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #8D8D8D;

        text-transform: uppercase;
      }
    }

    .sidebar-section-entries {
      list-style-type: none;

      padding: 0;
      margin: 0;

      .sidebar-section-entry {
        padding: 0 10px;

        .sidebar-section-entry-link {
          font-size: 13px;
          font-weight: 400;
          color: #8D8D8D;
        }
      }
    }

    .sidebar-section-sub-entries {
      list-style-type: none;

      padding: 0;
      margin: 0;

      .pagination {
        display: flex;
        padding: 0px 35px;

        .label {
          font-size: 13px;
          color: #8D8D8D;
          cursor: pointer;

          &:hover { text-decoration: underline; }
        }
      }

      .sidebar-section-sub-entry {
        display: flex;
        align-items: center;

        padding: 0 10px;
        margin-bottom: 7px;

        .sub-thumbnail {
          width: 20px;
          height: 20px;

          display: inline-block;

          border-radius: 100%;

          background-color: #738491;
          background-size: cover;
          background-position: center center;

          margin-right: 5px;
        }

        .sub-link {
          display: flex;

          font-size: 13px;
          font-weight: 400;

          .sub-prefix {
            color: #BDBDBD;
          }

          .sub-name {
            color: #515151;
          }

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .sidebar-section-separator {
      background: transparent;

      border: 0;
      margin: 0;

      border-bottom: 1px solid rgba(#738491, .30);
      margin-top: 10px;
    }
  }
}
