<ul class="sidebar-layout" style="height: 100%"
  #sidebarLayout
  infiniteScroll
  (scrolled)="onScroll()"
  [scrollWindow]="false"
  [infiniteScrollDistance]="1.5"
  [infiniteScrollThrottle]="300"
  [infiniteScrollDisabled]="loadingSubList"
>

  <li class="sidebar-section">
    <div class="sidebar-section-entries-container">
      <ul class="sidebar-section-entries">
        <li class="sidebar-section-entry">
          <a routerLink="/" class="sidebar-section-entry-link">
            Frontpage
          </a>
        </li>
        <li class="sidebar-section-entry">
          <a class="sidebar-section-entry-link"
            href="https://www.reddit.com/gold?goldtype=autorenew">
            Donate
          </a>
        </li>
        <li class="sidebar-section-entry">
          <a routerLink="/" class="sidebar-section-entry-link">
            About
          </a>
        </li>
      </ul>
    </div>

    <hr class="sidebar-section-separator">
  </li>

  <li class="sidebar-section" *ngIf="userService.isAuthenticated()">
    <div class="sidebar-section-header-container">
      <span class="sidebar-section-header">My Multireddits</span>
    </div>

    <div class="sidebar-section-entries-container">
      <ul class="sidebar-section-sub-entries">
        <li *ngFor="let multi of multiredditList"
          class="sidebar-section-sub-entry">

          <span class="sub-thumbnail">
          </span>

          <a [routerLink]="multi.path" class="sub-link">
            <span class="sub-prefix">m/</span>
            <span class="sub-name">{{ multi.display_name }}</span>
          </a>
        </li>
      </ul>
    </div>

    <hr class="sidebar-section-separator">
  </li>

  <li class="sidebar-section">
    <div class="sidebar-section-header-container">
      <span class="sidebar-section-header">
        {{ userService.isAuthenticated() ? 'My' : 'Popular' }}
        Subreddits
      </span>
    </div>

    <div class="sidebar-section-entries-container">

      <ul class="sidebar-section-sub-entries">
        <li *ngFor="let sub of subredditList"
          class="sidebar-section-sub-entry">

          <span class="sub-thumbnail"
           [ngStyle]="{ 'background-image': 'url(' + sub.icon_img + ')' }">
          </span>

          <a [routerLink]="sub.url" class="sub-link">
            <span class="sub-prefix">r/</span>
            <span class="sub-name">{{ sub.display_name }}</span>
          </a>
        </li>

        <li *ngIf="sidebarLayout.clientHeight >= sidebarLayout.scrollHeight"
          (click)="fetchSubList()"
          class="sub-entry pagination">
          <span class="label">
            Load more…
          </span>
        </li>
      </ul>
    </div>
  </li>
</ul>
