//  Variables
//  ---------

$post-submit-width: 550px;
$post-submit-border-radius: 4px;

//  Object Strucure
//  ---------------

:host {
  display: flex;
  flex-direction: column;

  width: $post-submit-width;
  height: auto;

  border-radius: $post-submit-border-radius;

  background-color: #FFF;

  margin-top: 7.5%;

  .tab-group {
    display: flex;

    height: 40px;

    .tab {
      display: flex;
      flex-grow: 1;

      cursor: pointer;

      &:first-child .wrapper-label {
        margin-left: 5px;
      }

      &:last-child .wrapper-label {
        margin-right: 5px;

        .tab-label { border-right: 0; }
      }

      &.is-active .wrapper-label {
        border-bottom: 2px solid #738491;

        .tab-label {
          color: #515151;
          margin: 6px 0 5px 0;
        }
      }

      .wrapper-label {
        display: flex;
        flex-grow: 1;
        align-items: stretch;
        justify-content: center;

        border-bottom: 1px solid #E9E9E9;

        .tab-label {
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: center;

          font-size: 12px;
          font-weight: 400;
          color: #969696;
          text-transform: uppercase;
          user-select: none;

          border-right: 1px solid #E9E9E9;
          margin: 5px 0;
        }
      }
    }
  }

  .form-group {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    padding: 0px 85px;
    margin: 18px 0 20px 0;

    .form-input {
      display: flex;
      flex-direction: column;

      margin: 0 0 8px 0;
    }

    .form-errors {
      display: flex;
      flex-direction: column;

      margin-top: 10px;
    }

    .form-controls {
      display: flex;

      margin-top: 15px;

      .form-control { margin-right: 15px; }
    }
  }

  .form-success {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 0px 85px;
    margin: 18px 0 30px 0;

    .controls {
      display: flex;
      margin-top: 10px;

      .btn {
        &:not(:last-child) { margin-right: 25px; }
        font-size: 11px
      }
    }
  }
}
