@import '~styles/helpers/module';

//  Variables
//  ---------

$score-font-color: #738491;

$btn-vote-color: #738491;
$btn-upvote-color: #00AA4A;
$btn-downvote-color: #F53334;

//  Object Structure
//  ----------------

:host {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .wrapper-score {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    .score {
      position: absolute;
      align-self: center;

      font-size: 1em;
      color:     $score-font-color;
    }
  }

  .btn-vote {
    display: flex;
    justify-content: center;

    &:first-child { margin-bottom: 0.75em; }
    &:last-child { margin-top: 0.75em; }

    @include icon { color: $btn-vote-color; font-size: 1em };

    &.upvote.is-active { @include icon { color: $btn-upvote-color; } }
    &.downvote.is-active { @include icon { color: $btn-downvote-color; } }
  }
}
