.typography {
  font-family: $font-sans;

  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    font-weight: $heading-font-weight;
    font-style:  $heading-font-style;
    line-height: $base-line-height;

    text-rendering: optimizeLegibility;
  }

  h1 { font-size: type-scale(xx-large); }
  h2 { font-size: type-scale(x-large); }
  h3 { font-size: type-scale(large); }
  h4 { font-size: type-scale(medium); }
  h5 { font-size: type-scale(small); }
  h6 { font-size: type-scale(x-small); }

  p {
    font-weight: $paragraph-font-weight;
    font-size:   $paragraph-font-size;

    margin: 0.7em 0;
  }

  a {
    color: #6800FF;

    &:hover { text-decoration: underline; }
  }

  ol, ul {
    padding-left: 2rem;
    margin: 0.3125em 0;
  }

  // TODO: Change this
  ul li { font-size: $paragraph-font-size; }
}

.md {
  max-width: 60em;
  overflow-wrap: break-word;
  word-wrap: break-word;

  h1 { font-size: 1.285em; }
  h2 { font-size: 1.285em; }
  h3 { font-size: 1.142em; }
  h4 { font-size: 1.142em; }
  h5 { font-size: 1em; }
  h6 { font-size: 1em; }

  p {
    word-break: break-word;
    font-size: 0.83em;

    margin: 0;

    code { }
  }

  code {
    font-family: $font-monospace;

    background-color: #FCFCFB;
    border: 1px solid #E6E6DE;
    border-radius: 2px;
  }
}
