<div [ngClass]="{ 'select-field-layout': true, 'is-active': isActive }">
  <div class="select-field-value">
    <span class="value">{{ activeOption.label | uppercase }}</span>
    <button class="btn-trigger" (click)="this.toggleOptions()">
      <i class="icn-arrow-down-o"></i>
    </button>
  </div>

  <div class="select-field-options">
    <ul class="entries">
      <li *ngFor="let option of options"
        class="select-field-option"
        (click)="selectOption(option)">
        <span class="option-label">{{ option.label | uppercase }}</span>
      </li>
    </ul>
  </div>
</div>
