@import '~styles/helpers/module';

//  Variables
//  ---------

$select-box-min-width: 60px;
$select-box-max-width: 170px;

$select-box-height: 35px;
$select-box-border-radius: 3px;

$select-box-options-max-height: 180px;

$select-box-width-transition-duration: 350ms;
$select-box-height-transition-duration: 300ms;

$select-box-background-color: #FFF;

//  Object Structure
//  ----------------

:host {
  .select-field-layout {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    border-radius: $select-box-border-radius;
    box-shadow: 3px 6px 17px -3px rgba(37, 37, 37, 0.35);

    min-width: $select-box-min-width;
    max-width: $select-box-max-width;

    transition-property: min-width, max-width;
    transition-timing-function: ease-out;
    transition-duration: $select-box-width-transition-duration;
    transition-delay:    $select-box-height-transition-duration;

    .select-field-value {
      display: flex;

      width: auto;
      height: $select-box-height;

      border-radius: $select-box-border-radius;
      background-color: $select-box-background-color;

      .value {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        padding: 0px 10px 0px 15px;

        font-size: 12px;
        font-weight: 400;
      }

      .btn-trigger {
        padding: 0px 15px 0px 0px;

        @include icon {
          font-size: 0.625em;
        }
      }
    }

    .select-field-options {
      display: flex;
      flex-direction: column;

      min-height: 0px;
      max-height: 0px;
      max-width:  0px;
      overflow: hidden;

      background-color: $select-box-background-color;

      border-bottom-left-radius: $select-box-border-radius;
      border-bottom-right-radius: $select-box-border-radius;

      transition-property: max-width, min-height, max-height;
      transition-timing-function: ease-out;

      transition-duration:
        500ms,
        $select-box-height-transition-duration,
        $select-box-height-transition-duration ;

      transition-delay: 350ms, 0ms, 0ms;


      .entries {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        margin: 0;
        padding: 0;
        list-style-type: none;
      }

      .select-field-option {
        display: flex;
        justify-content: space-between;

        padding: 2px 15px;

        background: trasparent;

        cursor: pointer;

        .option-label {
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    &.is-active {
      max-width: 200px;

      transition-property: max-width;
      transition-timing-function: ease-in;
      transition-duration: $select-box-width-transition-duration;
      transition-delay:    0ms;

      .select-field-value {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius:  0px;
      }

      //  TODO: This transition must trigger as soon as the
      //  field value reaches max-width, sometimes the value
      //  has already reached max-width even before the user
      //  activated it but the transition for the options
      //  still has a delay, fix it.
      .select-field-options {
        max-width:  200px;
        min-height: 0px;
        max-height: $select-box-options-max-height;
        overflow: scroll;

        transition-property: max-width, min-height, max-height;
        transition-timing-function: ease-in;

        transition-duration:
          500ms,
          $select-box-height-transition-duration,
          $select-box-height-transition-duration;

        transition-delay:
          0ms,
          $select-box-width-transition-duration + 60ms,
          $select-box-width-transition-duration + 60ms;

      }

    }

  }
}
